  body {
      position: relative; 
  }

  #section1 {padding-top:50px;min-height:500px;color: #fff; background-color: #1E88E5;}
  #section2 {padding-top:50px;min-height:500px;color: #fff; background-color: #673ab7;}
  #section3 {padding-top:50px;min-height:500px;color: #fff; background-color: #ff9800;}
  #section4 {padding-top:50px;min-height:500px;color: #fff; background-color: #00bcd4;}
  #section5 {padding-top:50px;min-height:500px;color: #fff; background-color: #009688;}
  #section6 {padding-top:50px;min-height:500px;color: #fff; background-color: #673ab7;}
 
 .carousel-inner {
 	background-color: !important transparent;
 }

 .carousel-inner img {
  margin: auto;
  padding-bottom: 60px;
}


 .carousel-control.left, .carousel-control.right {
  background: transparent !important;
  filter: progid: none !important;
  filter:none !important;
  background-image:none;
  outline: 0;
  opacity: 1;
 }
